.border-b {
    margin-bottom: 20px;
}

.el-input {
    width: 50%;
}

.el-textarea {
    width: 50%;
<<<<<<< HEAD
}

.el-upload__tip {
    display: inline-block;
}

.upload-demo {
    width: 480px;
}

.el-radio-group {
    width: 480px;
}

.input-hidden {
    display: none;
=======
>>>>>>> d0a2e3c2388ea7da928aff3fd81943e2f895c4f5
}