.login-box {
    height: 100%;
    width: 100%;
    position: relative;
    & .main {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 350px;
    }
}

.login {
    width: 100%;
}

.el-row {
    margin-bottom: 20px;
}

.row-height1 {
    height: 22px;
    margin-bottom: 10px;
}

.el-input.el-input-group>.el-input-group__prepend {
    padding: 3px;
}

.icon {
    display: inline-block;
    height: 20px;
    width: 20px;
    vertical-align: top;
}

.user {
    background: url("./../../../assets/img/user.png") center center no-repeat;
    background-size: contain;
}

.password {
    background: url("./../../../assets/img/password.png") center center no-repeat;
    background-size: contain;
}