#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

<<<<<<< HEAD
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

=======
>>>>>>> d0a2e3c2388ea7da928aff3fd81943e2f895c4f5

/*
    font-color start 
*/

.success {
    color: #67C23A;
}

.warning {
    color: #E6A23C;
}

.danger {
    color: #F56C6C;
}

.info {
    color: #909399;
}

.blue {
    color: #409EFF
}


/*
    font-color end 
*/


/*
    font-size start 
*/

.extra-large {
    font-size: 24px;
}

.large {
    font-size: 18px;
}

.extra-small {
    font-size: 12px;
}

.small {
    font-size: 14px;
}

.extra-small {
    font-size: 12px;
}


/*
    font-size end 
*/


/*
    border end 
*/

.border-b {
    border-bottom: 1px solid #ddd;
}

.border-t {
    border-top: 1px solid #ddd;
}

.border-l {
    border-left: 1px solid #ddd;
}

.border-r {
    border-right: 1px solid #ddd;
}

.border-normal {
    border: 1px solid #ddd;
}


/*
    border end 
*/


/*
<<<<<<< HEAD
    align start
*/

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}


/*
    align end
*/


/*
    bg-color start
*/

.bg-lightBlue {
    background: #E6F3FC
}


/*
    bg-color end
*/


/*
    float start
*/

.fr {
    float: right;
=======
    padding start
*/

.padd20 {
    padding: 20px;
>>>>>>> d0a2e3c2388ea7da928aff3fd81943e2f895c4f5
}


/*
<<<<<<< HEAD
    float end
=======
    padding end
>>>>>>> d0a2e3c2388ea7da928aff3fd81943e2f895c4f5
*/


/*
<<<<<<< HEAD
    flex start
*/

.flex-row {
    display: flex;
    justify-content: space-between;
=======
    align start
*/

.align-right {
    text-align: right;
>>>>>>> d0a2e3c2388ea7da928aff3fd81943e2f895c4f5
}


/*
<<<<<<< HEAD
    flex end
=======
    align end
>>>>>>> d0a2e3c2388ea7da928aff3fd81943e2f895c4f5
*/