.el-button {
    text-decoration: none;
}

.todayCollect-box {
    margin: 20px 0;
    & .todayCollect-item {
        padding: 30px 20px 20px 20px;
        margin-right: 20px;
        & .item-left {
            height: 100px;
            width: 100px;
            display: inline-block;
            margin-right: 50px;
            vertical-align: top;
        }
        & .item-right {
            display: inline-block;
            height: 100px;
            padding-top: 30px;
            box-sizing: border-box;
            text-align: center;
        }
    }
}

.table-info {
    margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: 5px;
}

.collect-box {
    padding: 30px 0;
}

.collect-item {
    padding: 0 30px;
    text-align: center;
}